#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer
}

.w150 {
    width: 150px;
}

.w50 {
    width: 50px;
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}